<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGAutomation.ForgetPasswordFunctionality">
      <methods>
      <include name="forgetPassword"></include>
      </methods>
      </class>
      <class name="TestNGAutomation.LoginPageHomePageVerification">
      <methods>
      <include name="loginPage" ></include>
      <include name="homePageVerification"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
